.input {
  border: none;
  background: none;
  width: 75px !important;
  height: 25px;
  width: 50px;
  cursor: pointer;
  border: 5px solid var(--button-border-color);
}

.input,
.input:focus,
.input:active {
  outline: none;
}

.input:disabled {
  opacity: .3;
  cursor: default;
}

.input::-webkit-color-swatch-wrapper {
  height: 0;
  width: 0;
  display: none;
  z-index: -1;
}