.fill {
  width: 75px;
  height: 25px;
  border: 5px solid var(--button-border-color);
  /* background-color: darkorange; */
  cursor: pointer;
}

button:disabled {
  opacity: .5;
  cursor: default;
}