.content {
  flex-grow: 1;
  background-color: #EFEFEF;
  position: relative;
  overflow: hidden;
}

.content::after {
  display: block;
  content: '';
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: lightslategray;
  top: 50%;
}

svg {
  box-sizing: content-box;
}

.triangle {
  position: absolute;
}

.rectangle {
  position: absolute;
}

svg.active {
  border: 3px dashed #2F80ED;
}