:root {
  --button-background-color: #EAEAEA;
  --button-border-color: #818181;
  --button-hover-background-color: #dedede;
  --button-hover-border-color: #777;
}

.sidebar {
  width: 256px;
  background-color: #ccc;
  text-align: center;
  padding: 50px 35px;
}
