body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 18px/21px 'Roboto', sans-serif;
  color: #818181;
}

h2 {
  font: 400 24px/28.13px 'Roboto', sans-serif;
}

button {
  outline: none;
}